/* ### Content */
.content {
  float: right;
  width: 880px;
}

@media screen and (max-width: 1340px) {
  .content {
    width: 800px;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    width: 620px;
  }
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
  width: 660px;
}

@media screen and (max-width: 1340px) {
  .content-sidebar-sidebar .content,
  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content {
    width: 580px;
  }
}

@media screen and (max-width: 1200px) {
  .content-sidebar-sidebar .content,
  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content {
    width: 400px;
  }
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
  float: left;
}

.full-width-content .content {
  width: 100%;
}

