/* # After Entry
--------------------------------------------- */
.after-entry {
  background-color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 40px;
  padding: 60px;
}

@media screen and (max-width: 860px) {
  .after-entry {
    padding: 30px;
    margin-bottom: 5%;
  }
}

