/* ## Entry Footer
--------------------------------------------- */
.entry-footer .entry-meta {
  border-top: 1px solid #eee;
  padding-top: 24px;
  margin-bottom: 0;
}

.entry-categories,
.entry-tags {
  display: block;
}

