$white: #fff;
$black: #000;

$base__color: #333;

$link__color: #c3251d;
$link__hoverColor: #333;

$body__backgroundColor: #eee;

$nav__linkColor: #333;
$primaryNav__BackgroundColor: $white;
$primaryNav__LinkColor: $nav__linkColor;

$secNav__backgroundColor: $white;
$secyNav__LinkColor: $nav__linkColor;

$siteHeader__BackgroundColor: $white;

$siteFooter__BackgroundColor: $white;
$siteFooter__BorderColor: #eee;
